*.swp
__pycache__/**
out/
core*
*.ipynb
# *.sh
*.bin
wandb
demo/
backup
*.pth
#*.txt
out/
log/
*.json
*.xlsx
*.mp4
tools/*.jpg
tools/*.mp4
dataset/
ds_tensorboard_logs/
data/CSL_News/CSL_News_Labels.csv